Source: electrotest-standalone
Section: devel
Priority: optional
Maintainer: Fredrik Söderquist <fredrik@fredriksoderquist.se>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://fakefake.fake/fake

Package: electrotest-standalone
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The bestest program you've ever seen!
 It really is!
 It's what gives life meaning!
